[submodule "loading/hx711-pico-c"]
	path = loading/hx711-pico-c
	url = https://github.com/endail/hx711-pico-c.git
[submodule "practical/pico/hx711-pico-c"]
	path = practical/pico/hx711-pico-c
	url = https://github.com/endail/hx711-pico-c.git
[submodule "xfoil-python"]
	path = xfoil-python
	url = https://github.com/lpender3672/xfoil-python.git